{{!-- <li>
	{{burger_name}}

	<button class="change-devour btn btn-danger" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour it!
	</button>
</li> --}}

<div class="alert alert-light" role="alert">
	<ol>{{burger_name}}
		<div style="text-align: right;">
			<button class="change-devour btn btn-danger" data-id="{{id}}" data-newdevour="{{devour}}">
				Devour it!
			</button>
		</div>
	</ol>
</div>